body{
    margin: 0;
    font-family: "Manufacturing Consent", 'Times New Roman';
    background: linear-gradient(135deg, floralwhite, lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(248, 229, 229);
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px black;
}

h1{
    color: rgb(151, 22, 22);
}

p{
    color: firebrick;
    font-size: 16px;
}

